<h3 class="mt-3 ms-5">Edita Este Album</h3>

<%= render "form", admin_album: @admin_album %>

<br>

<div class="d-flex flex-row ms-5">
  <%= link_to "Mostrar Este Album", admin_album_path(@admin_album.id), class: 'me-3' %> |
  <%= link_to "Listado de Albumes", admin_albums_path, class: 'ms-3' %>
</div>