<p style="color: green" class="ms-5"><%= notice %></p>

<div class="border border-dark rounded mx-5 py-5 px-5">
  <%= render @admin_album %>

  <div class="d-flex flex-row justify-content-end mb-3">
    <%= button_to "Elimina este Album", admin_album_path(@admin_album.id), method: :delete, class: 'btn btn-outline-danger' %>
  </div>

  <div>
    <div class="d-flex flex-row mb-3">
      <%= link_to "Cambiar el Album", edit_admin_album_path(@admin_album), class: 'me-3' %>
    </div>
   
</div>