<div id="<%= dom_id article %>" class="mb-5">

  <div class="d-flex flex-column align-items-center mb-3">
    <p class="row mb-3">
      <strong><%= article.title %></strong>
    </p>
    <div class="row">
      <% if article.images.any? %>
        <%= image_tag(article.images.first, height: 150, class: "rounded") %>
      <% end %>
    </div>
  </div>

  <p>
    <%= truncate article.text, length: 100 %>
  </p>

</div>
