<h3 class="ms-5">Edita Esta Publicacion</h3>

<%= render "form", admin_article: @admin_article %>

<br>

<div class="ms-5 mb-5">
  <%= link_to "Mostrar Esta Publicacion", admin_article_path(@admin_article.id), class: 'me-3' %> |
  <%= link_to "Listado de Publicaciones", admin_articles_path, class: 'ms-3' %>
</div>
