<div class="border border-danger rounded my-3 mx-5 py-3 px-5">

  <div>
    <%= link_to "<<", articles_path, class: "link-style" %>
  </div>

  <div class="d-flex flex-column align-items-center mb-3">
    <p class="row mb-3">
      <strong><%= @article.title %></strong>
    </p>
    <div class="row">
      <%= @article.images.any? ? image_tag(@article.images.first, height: 150) : image_tag("https://via.placeholder.com/150")%>
    </div>
  </div>

  <p>
    <%= @article.text %>
  </p>

</div>


