<aside class="container">
  <ul>
    <li class="text-white mb-3"><small>Nosotros</small></li>
    <li class="text-white mb-3"><small>Actividades</small></li>
    <li class="text-white mb-3"><small>Publicaciones</small></li>
    <li class="text-white mb-3"><small>Fotos</small></li>
    <li class="text-white mb-3"><small>Videos</small></li>
    <li class="text-white mb-3"><small>Eventos</small></li>
    <li class="text-white mb-3"><small>Tienda</small></li>
  </ul>
</aside>