<aside>
  <ul class="mt-5 ms-5">
    <li class="text-white">Nosotros</li>
    <li class="text-white">Actividades</li>
    <li class="text-white">Publicaciones</li>
    <li class="text-white">Fotos</li>
    <li class="text-white">Videos</li>
    <li class="text-white">Eventos</li>
    <li class="text-white">Tienda</li>
  </ul>
</aside>