<h2 class="text-danger mt-3 mb-3">Tango Baja California</h2>

<div class="d-flex flex-wrap align-items-center">
  <div class="about">
    <p>Fundada el 2002 por el profesor y bailarín José Luis Glez Vega en la ciudad de Tijuana. 
    Pionero en la enseñanza y difusión del tango argentino en la región. Co-directora, profesora 
    y bailarina Cristina Michaus Martinez desde el 2010.</p>
  </div>

  <video height="500" width="600" controls>
    <source src="<%= asset_path('tango-video.mp4') %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
