<p style="color: green" class="ms-5"><%= notice %></p>

<div class="d-flex flex-row justify-content-between mt-3 mx-5">
  <h3 class="ms-5">Productos</h3>
  <div>
    <%= link_to "Crea Un Producto", new_admin_product_path, class: "btn btn-outline-primary py-0" %>
  </div>
</div>

<div class="my-5 mx-5">

  <div id="admin_products">
    <ul class="d-flex flex-wrap">
      <% @admin_products.each do |admin_product| %>
        <li class="article-container d-flex flex-column border border-danger rounded my-2 mx-2 py-3 px-5">
          <p class="d-flex flex-row justify-content-end">
            <%= link_to ">>", admin_product_path(admin_product.id), class: 'link-style' %>
          </p>
          <%= render admin_product %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
